<h3>Ajout d'un musée</h3>
<form>        
    <div>
        <label> Nom du musée </label>
        <input type="text" class="form-control" >
    </div>
    <div>
        <label> Pays du musée </label>
        <input type="text" class="form-control" >
    </div>
    <div>
        <label> Photo du musée </label>
        <input type="text" class="form-control" >
    </div>
    <div>
        <label> Date de fondation du  musée </label>
        <input type="date" class="form-control" >
    </div>
    <div>
        <label> Thème du musée : </label>
   
    </div>
    <div>
        <label> Superficie du musée </label>
        <input type="number" min="0" class="form-control">
    </div>

    <div>
        <label> Nombre d'oeuvres du musée </label>
        <input type="number" min="0" class="form-control" >
    </div>
    <div>
        <label> Principales oeuvres du musée </label>
        <div>

        </div>
        <button type="button" class="btn btn-sm btn-dark" > Ajouter Oeuvre</button>
    </div>
    <button type="submit" class="btn btn-primary"  > Ajouter Musée</button>
    <button type="button" class="btn btn-secondary" > Effacer</button>
</form>

